Welcome to Propel!

View your goals below:

<div>
  <% @goals.each do |goal| %>
    <%= div_for goal do %>
      <%= content_tag :p, goal.title %>
      <%= content_tag :p, goal.body %>  
      <p>
        <%= link_to "View Details", goal_path(goal) %> 
        <%= link_to "Edit", edit_goal_path(goal) %> 
      </p>
    <% end %>
  <% end %>
</div>


<nav>
  <ul>
    <li><%= link_to "View All Goals", goals_path %></li>
    <li><%= link_to "Create a New Goal", new_goal_path %></li>
  </ul>
</nav>