<h1>Welcome to Propel!</h1>

<h2>View your goals below:</h2>

<div>
  <% @goals.each do |goal| %>
    <%= div_for goal do %>
      <h4><%= content_tag :p, goal.title, class: "strong" %></h4>
      <p>
        <%= link_to "View Details", goal_path(goal) %> 
        <%= link_to "Edit", edit_goal_path(goal) %> 
      </p>
    <% end %>
  <% end %>
</div>


<nav>
  <ul>
    <li><%= link_to "View All Goals", goals_path %></li>
    <li><%= link_to "Create a New Goal", new_goal_path %></li>
  </ul>
</nav>