<div>
  <h1><%= content_tag :p, @goal.title %></h1>
    <p>The Details: </p>
    <%= content_tag :p, @goal.body%>
    Created <%= time_ago_in_words(@goal.created_at) %> ago.
  <nav>
    
    <!-- Show all comments on this goal -->
    <h3>All Comments</h3>
      <% @goal.comments.each do |comment| %>
        <p>
          <%= content_tag :p, comment.body %>
          Posted <%= time_ago_in_words(comment.created_at) %> ago.
          <%= link_to "Delete Comment", goal_comment_path(@goal, comment), :confirm => "Are you sure?", :method => :delete %>
        </p>
      <% end %>
    
    
    
    <!-- Trying a new comment form on this page, rather than a new page-->
    <h3>Post A Comment!</h3>
      <%= form_for([@goal, @goal.comments.build]) do |f| %>
        <p>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    
    
    <ul>
      <li><%= link_to "Delete", goal_path(@goal), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to "Home", home_page_path %></li>
    </ul>
  </nav>
</div>