<div>
  <h1><%= content_tag :p, @goal.title %></h1>
    <p>The Details: </p>
    <%= content_tag :p, @goal.body%>
  <%= content_tag :p, @goal.created_at %>
  <nav>
    
    <!-- Show all comments on this goal -->
    <h3>All Comments</h3>
      <% @goal.comments.each do |comment| %>
        <p>
          <%= comment.body %>
          <%= link_to "Delete Comment", goal_comment_path(comment), :confirm => "Are you sure?", :method => :delete %>
        </p>
      <% end %>
    
    
    
    <!-- Trying a new comment form on this page, rather than a new page-->
    <h3>Add a New Comment!</h3>
      <%= form_for([@goal, @goal.comments.build]) do |f| %>
        <p>
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    
    
    <ul>
      <li><%= link_to "Delete", goal_path(@goal), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</div>