<div>
  <%= content_tag :p, @goal.title %>
  <%= content_tag :p, @goal.id %>
  <%= content_tag :p, @goal.body%>
  <%= content_tag :p, @goal.created_at %>
  <%= content_tag :p, @goal.updated_at %>
  <nav>
    
    <ul>
      <li><%= link_to "Add a Comment", new_goal_comment_path %></li>
      <li><%= link_to "Delete", goal_path(@goal), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</div>