<!DOCTYPE html>
<html>
<head>
  <title>Propel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <p class="main-title"><%= link_to "Propel.", root_path %></p>
      </div>
    </header>

<%= yield %>

</body>
</html>
